body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: cursive;
}

.sign-pic {
    background-image: url("./starSigns.png");
    background-size: cover;
    width: 50em;
    height: 40em;
}

h1 {
    margin: 0;
}

.checkSign {
    display: flex;
    flex-direction: row;
    margin: 0;
}

#saveButton {
    display: inline;
}

#updateButton {
    display: inline;
}

#deleteButton {
    display: none;
}